{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block title %}Sign In{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<body>
	<div class="lgcontainer">
		<div class="left">
			<h1 class="lglogo">PartShare<hr></h1>
			<div class="text"><h1>Welcome To Our Blog! <span>Please   Log in.</span></h1></div>
		</div>
		<div class="login_container">
            <div><h1>Login<hr></h1></div>
            <div class="lgbuttons">
                <a href="{% url 'account_signup' %}">Don't Have an Account? Register!</a>
            </div>
            <div class="form-errors">
                {% if form.errors %}
                    <p>Invalid username or password. : error {{ form.errors.as_ul }}</p>
                {% endif %}
            </div>
			<form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
				<div class="user__field">
					<i class="login_icon fa-solid fa-user fa-lg"></i>
					<input class="login_inputs" type="text" placeholder="username" id="username" name="login">
				</div>
				<div class="password__field">
					<i class=" login_icon fa-solid fa-lock fa-lg"></i>
					<input class="login_inputs" type="password" placeholder="password" id="password" name="password">
				</div>
				<div class="lgbuttons">
					<button type="submit">Login <i class="fa-solid fa-chevron-right fa-l" style="color: black;background-color:transparent;margin-left: 75%;!important;"></i></button>
				    <a href="{% url 'account_reset_password' %}">Don't Remember Your Password ?</a>
			    </div>
			</form>
            <div class="SocialAccounts">
                <div class="social_icons">
                    <a href="{% provider_login_url 'github' %}"><i class="fa-brands fa-github fa-2xl" ></i></a>
                    <a href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google fa-2xl" style="color: #DB4437"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter fa-2xl" style="color: #fcfcfc ;"></i></a>
                </div>
            </div>

		</div>
	</div>
</body>
{% endblock %}