{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/profile/profile.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="profile-container">

    <div class="profile-bio">
        <img class="profile-avatar" src="{{profile.avatar.url }} " alt="user_avatar"/>
        <h2 style="text-transform: capitalize">{{ user.username }} </h2>
        <h5>{{ profile.bio }}</h5>
        <div class="profile-bio-buttons">
            <a class="flw-btn" href="#">Follow</a>
            <a class="msg-btn" href="#">Contact</a>
        </div>

    </div>

    <div class="profile-description">
        <div class="description-titles">
            <h3>Full Name : </h3> <p>{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="description-titles">
            <h3>Email : </h3> <p>{{ user.email }}</p>
        </div>
        <div class="description-titles">
            <h3>Phone :</h3> <p>{{ profile.phone_number }}</p>
        </div>
        <div class="description-titles">
            <h3>BirthDay :</h3> <p>{{ profile.birthdate }}</p>
        </div>
         <div class="description-titles">
            <h3>Country :</h3> <p>{{ profile.country }}</p>
        </div>

        <div class="description-titles">
            <h3>Joined : </h3> <p>{{ user.date_joined }}</p>
        </div>
    </div>
    <div class="profile-urls">
        <h5>Here Put ure Urls (github,linkedIn,Twitter ...)</h5>
    </div>
    <div class="profile-posts">

    </div>
</div>
{% endblock %}