{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/profile/profile_set.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="profile-form-container">
        <form method="post" class="profile-set-form" enctype="multipart/form-data" action="{% url 'profile_set' %}">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}