<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Document</title>
</head>
    {% include 'partials/navbar.html' %}
<body>
    {% load socialaccount %}

    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <h1>ure logged in {{ user.username }}</h1>
        <a href="{% url 'account_logout' %}">Logout</a>
        
    {% else %}
        <h1>You are not logged in</h1>
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% provider_login_url 'github' %}">Login with GITHUB</a>
    {% endif %}
</body>
</html>