.profile-container{
    margin: 1em auto;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-areas: "bio description"
                         "urls posts";
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 1fr;
}


.profile-container>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5%;
    border-radius: 6px;
    box-shadow: 0 6px 10px rgba(0, 0, 38, 0.85);
}



.profile-bio {
    grid-area: bio;
    margin: 1em 2em;
    padding: 10px 20px;
    border-bottom: 1px solid #42434a;
    background-color: #fdebd4;
    color: #0a014d;

    align-items: center !important;
    justify-content: center !important;
    text-align: center;

    font-size: larger;
}
.profile-avatar {
    height: 145px;
    width: 145px;
    margin: 10px auto 10px auto;
    border-radius: 50%;
    transition : 5ms ease-in-out;
}
.profile-avatar:hover{
    scale: 1.01;
    cursor: pointer;
}
.profile-bio-buttons{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    gap: .5em;
}
.profile-bio-buttons>a{
    margin-bottom: 1em;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: #2384e8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.92);
}
.profile-bio-buttons>a:hover{
    background-color: #1b75d9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.92);
}

/*----------------------Profile Info division --------------------------*/
.profile-description {
    grid-area: description;
    margin: 0.5em 1em;
    padding: 20px;
    border-bottom: 1px solid #42434a;
    background-color: #F1F1F1;
    color: #090142;
    display: flex;
    flex-direction: column;
    justify-content: center !important;

}
.profile-description .description-view{
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}
.profile-description .description-view #edit-btn{
    padding: 8px 25px;
    text-decoration: none;
    font-weight: normal;
    font-size: larger;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #2384e8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.92);
}
.profile-description .description-view #edit-btn:hover{
    background-color: #1b75d9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.92);
}

/*-----------------------The Edit division-------------------*/
.profile-description #description-edit{
    padding: 5px;
    width: 100%;
    height: 100%;
}
.profile-description #description-edit form{

    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 95%;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.81);
}
.profile-description #description-edit form input{
    width: 60%;
    padding: 10px 20px;
    margin-left: 10%;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    min-height: 20px;
    transition: all 0.3s ease-in-out 0s;
}
.profile-description #description-edit form input:hover{
    outline: solid;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.71);
    cursor: pointer;
}
.profile-description #description-edit  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    width: 100%;
}
.profile-description #description-edit .buttons #description-edit-btn{
    padding: 8px 20px;
    text-decoration: none;
    font-weight: normal;
    font-size: larger;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #2384e8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.92);
}
.profile-description #description-edit .buttons #description-edit-btn:hover{
    background-color: #1b75d9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.92);
}
.profile-description .description-titles{
    padding: 3px 6px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
    border-bottom: 1px solid gray ;
    border-right: 1px solid gray ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.81);
}
.profile-description .description-titles h3 ,.profile-description .description-titles p{
    padding: 8px;
    width: 15em;
}

/*----------------------Profile urls division --------------------------*/
.profile-urls {
    grid-area: urls;
    margin: 0.5em  1em;
    padding: 20px;
    border-bottom: 1px solid #42434a;
    background-color: #F1F1F1;
    color: #090142;
}


/*----------------------Profile Posts division --------------------------*/
.profile-posts {
    grid-area: posts;
    margin: 0.5em  1em;
    padding: 20px;
    border-bottom: 1px solid #42434a;
    background-color: #F1F1F1;
    color: #090142;
    overflow-y: scroll;
}

/*----------------------Profile style max-width(800px)--------------------------*/
@media(max-width: 800px){
    .profile-container{
        display: grid;
        grid-template-areas: "bio" "description" "urls" "posts";
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .profile-description .description-titles h3 ,.profile-description .description-titles p{
    padding: 4px;
    width: 8em;
    }
    .profile-bio {
        margin: 0.5em 1em;

    }
}
